body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

section{
    padding: 120px 0px;
}

.container{
    max-width: 1158px;
    margin: 0px 156px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
    
}

/*--Title--*/
.title-info{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    display: inline-block;
}

.title-benefits{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-list{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
}

/*--Header--*/

.header{
    border-bottom: 1px solid #E7E9FC;
}

.logo{
    text-decoration: none;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding: 5px;
    display: block;
}


.logo-text-web{
    color: #2E2F42;
}

.header-nav{
    display: flex;
    align-items: center;
    

}

.header-nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.header-nav-list-item{
    padding: 24px 0;
}

.header-nav-link{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.address{
     font-style: normal;
}

.address-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link{
    text-decoration: none;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/*--Intro--*/
.intro{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.intro-btn{
    background-color:#4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #404BBF;
}

/*--Benefits--*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: - 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset ( 100% );
    clip: rect( 0  0  0  0 );
    overflow: hidden;
}

.benefits-list{
    list-style: none;
    display: flex;
    gap: 24px;
}

.benefits-list-item{
    width: calc((100% - 48px) / 3);
}

.our-team-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    
}

.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.name-user{
    padding: 32px 0;
    text-align: center;
}

.name-title{
    text-align: center;
}


/*--Our-team--*/
.our-team{
    background-color: #F4F4FD;
}

.photo{
    display: block;
}

.our-team-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 48px 24px;
}

.our-portfolio-list-item {
    border: 1px solid #E7E9FC;
    width: 360px;
}

/*--footer--*/
.footer{
    background-color: #2E2F42;
    padding: 100px 0px 100px 0px;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.wrap-footer-logo{
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;

}

.footer-logo{
    color: #F4F4FD;
}