:root {
    --primary-brand-color: #4d5ae5;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

section{
    padding: 120px 0px;
}

.container{
    max-width: 1158px;
    margin: 0px 156px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
    
}

/*--Title--*/
.title-info{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    display: block;
    
}

.title-benefits{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
    width: 100%;
}

.title-list{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    
}

/*--Header--*/

.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.wrap-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    color: var(--primary-brand-color);
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    display: block;
}

.logo-text-web{
    color: #2E2F42;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.header-nav-link{
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-nav-link.current {
    color: #404bbf;
}

.header-nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
}

.address{
     font-style: normal;
}

.address-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link{
    text-decoration: none;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/*--Intro--*/
.intro{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/bg-intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;

}

.svg-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px 100px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
}

.intro-btn{
    background-color: var(--primary-brand-color);
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: #404BBF;
}

/*--Benefits--*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.benefits-list{
    list-style: none;
    display: flex;
    gap: 24px;
    padding-bottom: 5px;
}

.benefits-list-item{
    width: calc((100% - 72px) / 4);
}

.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.name-user{
    padding: 32px 0;
    text-align: center;
}

.name-title{
    text-align: center;
}


/*--Our-team--*/
.our-team{
    background-color: #F4F4FD;
}

.our-team-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
    list-style: none;
    margin-top: 8px;
}

.social-item{
    width: 40px;
    height: 40px;
}

.social-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}

.icon-svg{
    fill: #f4f4fd;
}


.photo{
    width: 100%;
    display: block;
}

.cart-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 48px 24px;
    margin-bottom: 5px;
}

.cart-item {
    width: calc((100% - 48px) / 3);
    max-width:  360px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.description-img{
    position: relative;
    overflow: hidden; 
}

.desc-cart-text{
    background-color: var(--primary-brand-color);
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(180%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-item:hover .desc-cart-text{
    transform: translateY(75%);
}

/*---portfolio----*/

.cart-desc{
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top:none;
}



/*--footer--*/
.footer{
    background-color: #2E2F42;
    padding: 100px 0px 100px 0px;
}
.footer-content{
    display: flex;
    align-items: baseline;
    
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.wrap-footer-logo{
    padding: 0;
    margin-bottom: 16px;
    margin-right: 0;
    display: inline-block;
}

.footer-logo{
    color: #F4F4FD;
}

.social-media{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-logo-container{
    margin-right: 120px;
}

.footer-social-list{
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer-social-item{
    width: 40px;
    height: 40px;
}

.footer-link{
    width: 100%;
    height: 100%;
    
}

.footer-link:hover
.footer-link:focus{
     background-color: #31d0aa;

}